@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap');

:root {
    --primaryColor: #D8318A;
    --secondaryColor: #1e272e;
    --darkBg: #FFFFFF;
    --themeFont: "Exo";
}

.s0101_universal * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--themeFont);
}

body {
    margin: 0;
}

.s0101_container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0px 20px;
}

svg {
    display: flex;
}

.s0101_offer_intro_wrapper {
    padding: 6px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0073A9;
}

.s0101_offer_intro_text {
    font-size: 10px;
    font-weight: 400;
    color: #E2E2E2;
}

.s0101_header_content_main-wrapper {
    width: 100%;
    /* border-bottom: 1px solid rgba(0, 0, 0, 10%); */
    background-color: #FEEBE7;
    position: relative;
}

.s0101_header_content_wrapper {
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.s0101_header_logo {
    height: 50px;
    width: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s0101_header_left_side_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 33.33%;
    justify-content: start;
}

.s0101_header_middle_side_wrapper {
    width: 33.33%;
    display: flex;
    justify-content: center;
}

.s0101_header_right_side_wrapper {
    width: 33.33%;
    display: flex;
    justify-content: end;
}

.s0101_header_logo_content_wrapper {
    display: flex;
    align-items: center;
}

.s0101_header_logo_title {
    font-size: 12px;
    font-weight: 600;
    color: var(--secondaryColor);
    width: 80px;
    display: none;
}

.s0101_header_logo_title.s0101_active_logo_title_text {
    display: block;
}

.s0101_header_menu_list_item {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.s0101_wishlist_element {
    display: none;
}

.s0101_cart_element {
    display: none;
}

.s0101_hamburger_menu_wrapper {
    display: none;
}

.s0101_right_side_text_part_wrapper {
    display: none;
}

/* ====================================================
================Mobile footer menu=====================
======================================================= */
.s0101_mobile_footer_menu_wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: block;
}

.s0101_mobile_menu_list_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.s0101_mobile_menu_content_wrapper {
    padding: 15px 0px;
}

.s0101_mobile_menu_list_item {
    height: 30px;
    width: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* ======Fill color all class======= */
.s0101_active_fill.s0101_header_menu_list_item .s0101_header_menu_item_icon_wrapper svg path {
    fill: var(--primaryColor);
}

.s0101_active_fill.s0101_mobile_menu_list_item .s0101_mobile_menu_list_icon_wrapper svg path {
    fill: var(--primaryColor);
}

.s0101_active_fill.s0101_mobile_menu_list_item {
    border-bottom: 1px solid var(--primaryColor);
}

.s0101_active_fill.s0101_mobile_menu_list_item .s0101_mobile_menu_list_icon_wrapper svg g {
    opacity: 1;
}

/* =======notification========== */
.s0101_notification_add::after {
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--primaryColor);
    top: 0;
    left: 50%;
    transform: translate(40%, 100%);
}

.s0101_mobile_icon_notification_add::after {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--primaryColor);
    top: 0;
    left: 50%;
    transform: translate(47%, 280%);
}

.s0101_mobile_icon_wishlist_notification_add::after {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--primaryColor);
    top: 0;
    left: 50%;
    transform: translate(18%, 254%);
}

/* mobile sidebar */
.s0101_open_sidebar.s0101_sidebar_main_wrapper {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, 50%);
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar {
    display: none;
}

.s0101_sidebar_menu_content_wrapper {
    height: 100vh;
    width: 280px;
    background-color: white;
    padding: 30px;
    position: absolute;
    left: -100%;
    top: 0;
    transition: all 0.5s ease-in-out;
}

.s0101_open_sidebar .s0101_sidebar_menu_content_wrapper {
    left: 0;
}

.s0101_sidebar_menu_list_wrapper {
    height: calc(100vh - 230px);
    overflow: scroll;
    overflow-x: hidden;
}

.s0101_sidebar_menu_list_item_main_wrapper {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
}

.s0101_catagoryes_list_item_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s0101_menu_item_name {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 100%);
}

.s0101_all_category_list_wrapper {
    /* display: flex; */
    justify-content: center;
    list-style: none;
    flex-direction: column;
    gap: 21px;
    padding-top: 20px;
    display: none;
}

.s0101_catagory_item_content_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s0101_catagory_item_name {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 100%);
}

/* open all catagories list class */
.s0101_open_menu.s0101_sidebar_menu_list_item .s0101_all_category_list_wrapper {
    display: flex;
}

.s0101_open_menu.s0101_sidebar_menu_list_item .s0101_catagoryes_list_item_wrapper .s0101_menu_item_icon {
    transform: rotate(-180deg);
}

.s0101_sub_sub_list_wrapper {
    list-style: none;
    border-left: 1px solid rgba(0, 0, 0, 50%);
    padding-left: 10px;
    margin-top: 20px;
    display: none;
    flex-direction: column;
    gap: 21px;
}

/* open sub menu */
.s0101_open_menu.s0101_catagory_item .s0101_sub_sub_list_wrapper {
    display: flex;
}

.s0101_open_menu.s0101_sub_sub_list_item .s0101_sub_sub_list_item_content_wrapper .s0101_sub_sub_item-icon {
    transform: rotate(-180deg);
}

.s0101_open_menu.s0101_sub_sub_list_item .s0101_sub_sub_list_item_content_wrapper .s0101_catafory_item_icon {
    transform: rotate(-180deg);
}

.s0101_open_menu.s0101_catagory_item .s0101_catagory_item_content_wrapper .s0101_catafory_item_icon {
    transform: rotate(-180deg);
}

.s0101_sub_sub_list_item_content_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s0101_sub_sub_item_name {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 100%);
}

/* sub sub sub */
.s0101_sub-sub_sub_catagory_item_wrapper {
    list-style: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 50%);
    margin-top: 21px;
}

.s0101_sub_sub_sub_content_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s0101-sub_sub_item_name {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 100%);
}

.s0101_open_menu.s0101_sub_sub_list_item .s0101_sub-sub_sub_catagory_item_wrapper {
    display: flex;
}

.s0101_open_menu.s0101_sub_sub_list_item .s0101_sub_sub_list_item_content_wrapper .s0101_sub_sub_item-icon {
    transform: rotate(-180deg);
}

.s0101_open_menu.s0101_sub_sub_list_item .s0101_sub_sub_list_item_content_wrapper .s0101_sub_sub_item_name {
    color: var(--primaryColor);
}

/* legal page style */
.s0101_legal_page_list_container {
    padding-top: 20px;
}

.s0101_legal_page_list_wrapper {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.s0101_legal_page_list_item {
    font-size: 12px;
    font-weight: 400;
}

.s0101_sidebar_social_icon_list_wrapper {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.s0101_sidebar_social_icon_list_item {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s0101_get_in_touch_title_text {
    font-size: 12px;
    font-weight: 600;
    color: var(--secondaryColor);
}

.s0101_get_in_touch_title_wrapper {
    padding-top: 30px;
    padding-bottom: 20px;
}

.s0101_sidebar_close_btn {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s0101_sidebar_close_btn_wrapper {
    display: flex;
    justify-content: end;
    padding-bottom: 40px;
}

.s0101_catagory_item_main_wrapper {
    display: none;
}

/* search popup */
.s0101_search_box_main_wrapper {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 40px 20px;
    z-index: 2;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

.s0101_active_search_popup .s0101_search_box_main_wrapper {
    top: 0;
    visibility: visible;
    opacity: 1;
}

.s0101_input_field {
    width: 100%;
    padding: 11px 15px;
    border: 1px solid rgba(0, 0, 0, .1);
    outline: none;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    height: 36px;
}

.s0101_search_box_inner_content_wrapper {
    max-width: 320px;
    width: 100%;
    margin: auto;
}

.s0101_search_box_title_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.s0101_search_box_title {
    font-size: 12px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
}

.s0101_popup_close_btn_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    cursor: pointer;
}

/* .s0101_popup_close_btn_wrapper:hover .s0101_popup_close_btn svg {
    transform: rotate(360deg);
    transition: all 0.3s ease-out;
    fill: var(--primaryColor);
} */

.s0101_popup_close_btn svg:hover {
    transform: rotate(360deg);
    transition: all 0.3s ease-out;
    fill: var(--primaryColor);
}

.s0101_popup_close_btn svg {
    transform: rotate(0deg);
    transition: all 0.3s ease-out;
}

.s0101_active_search_popup.s0101_search_result_main_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    transition: .3s all;
}

.s0101_search_result_content_wrapper {
    padding: 0px 15px;
    position: absolute;
    width: 100%;
    background-color: white;
    max-height: 400px;
    overflow: auto;
}

.s0101_suggest_result_wrapper {
    position: relative;
}

.s0101_product_img_wrapper {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s0101_product_img {
    display: block;
    height: 100%;
    width: 100%;
}

.s0101_product_name {
    font-size: 12px;
    font-weight: 400;
    color: var(--secondaryColor);
}

.s0101_search_result_item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 0px;
    border-bottom: 1px solid rgba(112, 112, 112, 10%);
}

.s0101_search_result_item:last-child {
    border-bottom: 0px solid rgba(0, 0, 0, .5);
}

@media screen and (min-width:640px) {

    /* offer title */
    .s0101_offer_intro_wrapper {
        padding: 8px 70px;
    }

    .s0101_offer_intro_text {
        font-size: 12px;
    }

    /* header content  */
    .s0101_header_content_wrapper {
        padding: 15px 0px;
    }

    /* hamburger icon */
    .s0101_hamburger_menu_wrapper {
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* header menu item */
    .s0101_header_menu_list_item {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    .s0101_header_menu_item_icon_wrapper svg {
        height: 18px;
        width: 18px;
    }

    /* draf menu header */
    .s0101_wishlist_element {
        display: block;
    }

    .s0101_cart_element {
        display: block;
    }

    .s0101_header_right_content_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .s0101_right_side_text_part_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;
        /* position: relative; */
        cursor: pointer;
    }

    .s0101_divider::after {
        content: "";
        height: 100%;
        width: 1px;
        background-color: rgba(0, 0, 0, 10%);
        position: absolute;
        top: 0;
    }

    .s0101_header_menu_list_wrapper {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .s0101_my_account_text {
        font-size: 14px;
        font-weight: 400;
        color: var(--secondaryColor);
    }

    /* mobile footer menu */
    .s0101_mobile_footer_menu_wrapper {
        display: none;
    }

    /* sidebar  item */
    .s0101_sidebar_menu_content_wrapper {
        width: 320px;
    }

    .s0101_sidebar_close_btn_wrapper {
        padding-bottom: 35px;
    }

    .s0101_menu_item_name,
    .s0101_catagory_item_name,
    .s0101_sub_sub_item_name,
    .s0101-sub_sub_item_name,
    .s0101_legal_page_list_item,
    .s0101_get_in_touch_title_text {
        font-size: 14px;
    }

    .s0101_catagory_item_main_wrapper {
        display: none;
    }

    /* search popup */
    .s0101_search_box_main_wrapper {
        padding: 60px 20px;
    }

    .s0101_search_box_inner_content_wrapper {
        max-width: 600px;
    }

    .s0101_input_field {
        padding: 15px 15px;
        font-size: 14px;
        height: 46px;
    }

    .s0101_search_box_title {
        font-size: 14px;
    }

    .s0101_product_name {
        font-size: 14px;
    }

    .s0101_product_img_wrapper {
        height: 40px;
        width: 40px;
    }

    .s0101_catafory_item_icon svg {
        width: 8px;
        height: 4px;
    }

    .s0101_menu_item_icon svg {
        width: 8px;
        height: 4px;
    }

    .s0101_sub_sub_item-icon svg {
        width: 8px;
        height: 4px;
    }
}

@media screen and (min-width:1024px) {
    .s0101_header_content_wrapper {
        padding: 20px 0px;
    }

    .s0101_right_side_text_part_wrapper {
        gap: 23px;
    }

    .s0101_header_right_content_wrapper {
        gap: 25px;
    }

    .s0101_divider::after {
        top: 0;
    }

    .s0101_hide_hamburger.s0101_hamburger_menu_wrapper {
        display: none;
    }

    .s0101_header_logo_title {
        font-size: 16px;
        font-weight: 700;
        width: 160px;
    }

    .s0101_header_logo svg {
        height: 24px;
        width: 40px;
    }

    .s0101_header_logo {
        height: 60px;
        width: 100px;
        cursor: pointer;
    }

    /* large device catagory */
    .s0101_catagory_item_main_wrapper {
        display: block;
    }

    .s0101_header_left_side_wrapper {
        gap: 25px;
    }

    .s0101_catagory_item_list_wrapper {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .s0101_catagory_item_list_item {
        font-size: 14px;
        font-weight: 400;
        color: var(--secondaryColor);
        cursor: pointer;
    }

    /* catagories style */
    .s0101_catagories_main_wrapper {
        padding: 25px;
        position: absolute;
    }

    .s0101_catagories_list_iitem_wrapper {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .s0101_catagories_list_iitem {
        font-size: 14px;
        font-weight: 400;
        color: var(--secondaryColor);
    }

    .s0101_catagories_title_wrapper {
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 10%);
    }

    .s0101_catagories_title_text {
        font-size: 14px;
        font-weight: 400;
        color: var(--primaryColor);
    }

    .s0101_catagories_list_iitem_container {
        padding-top: 15px;
    }

    .s0101_catagories_main_wrapper {
        padding: 25px;
        border: 1px solid rgba(0, 0, 0, 10%);
        border-top: transparent;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        max-height: 509px;
        overflow: auto;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
    }

    .s0101_catagories_item_main_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 25px;
    }

    .s0101_catagory_item_list_item:hover {
        color: var(--primaryColor);
        transition: all 0.2s ease-in-out;
    }

    .s0101_catagory_item_list_item:hover .s0101_catagories_main_wrapper {
        opacity: 1;
        visibility: visible;
        transition: all 0.7s ease-in-out;
    }

    .s0101_more_catagories_btn_wrapper {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 8px;
        margin-top: 48px;
        transition: all 0.3s ease-in-out;
    }

    .s0101_menu_item_wrapper {
        display: flex;
        justify-content: center;
        padding: 10px 0px;
        position: relative;
    }

    .s0101_more_catagories_btn_arrow {
        transition: all 0.3s ease-in-out;
    }

    /* .s0101_customized_header_menu_wrapper {
        width: 100%;
        background-color: darkgrey;
    } */
    /* .s0101_header_menu_item_icon_wrapper svg g path{
        fill: var(--darkBg)!important;
    } */
    .s0101_catagory_item_list_item:hover .s0101_more_catagories_btn_text {
        color: #000;
        transition: all 0.3s ease-in-out;
    }

    .s0101_more_catagories_btn_wrapper:hover .s0101_more_catagories_btn_arrow {
        transform: translateX(10px);
        transition: all 0.3s ease-in-out;
    }

    .s0101_more_catagories_btn_wrapper:hover .s0101_more_catagories_btn_text {
        color: var(--primaryColor);
        transition: all 0.3s ease-in-out;
    }

    /* search popup */
    .s0101_search_box_main_wrapper {
        padding: 60px 50px;
    }
}